R-RECURSOS/99-AUTOMACOES-PRONTAS/workflows-n8n/2_Blog_AgenteRedator.json
{
  "name": "2_Blog_AgenteRedator",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        464,
        496
      ],
      "id": "ab806657-1354-42ff-895c-549fa8540eba",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "4Sfrhdg0GjeRE7VP",
          "name": "OpenAi -Sulicorpar-ads"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"conteudo_completo\": \"<p>Exemplo de conteúdo HTML completo.</p>\"\n}\n",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        336
      ],
      "id": "df2309e6-8621-48e1-9487-07b71a163b1e",
      "name": "saida_estruturada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c79979-2824-408a-ab83-defbff96e9bd",
              "name": "forms_content",
              "value": "={{ $('RedisTrigger').first().json.message.forms_content }}",
              "type": "object"
            },
            {
              "id": "d4af3dfb-dab0-4d58-a678-4962eb013735",
              "name": "agent_seo",
              "value": "={{ $('RedisTrigger').first().json.message.agent_seo }}",
              "type": "object"
            },
            {
              "id": "45f27426-d6ea-4964-adb4-740b45c6e9fe",
              "name": "conteudo_post",
              "value": "={{ $json.output.conteudo_completo }}",
              "type": "string"
            },
            {
              "id": "e69c4ae1-193f-47f7-bd1f-79478717d12e",
              "name": "type",
              "value": "={{ $('RedisTrigger').first().json.message.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "3da1785f-3a0d-40d8-a152-c73c3169db23",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Segue conteúdo enviado pelo agente de SEO:\n{{ $json.message.agent_seo.toJsonString() }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "={\n  \"role\": \"Expert SEO Copywriter & Humanizer\",\n  \"task\": \"Criar um artigo completo, humano, envolvente e altamente otimizado para SEO, seguindo rigorosamente a estrutura enviada pelo Agente SEO. O tema é OBRIGATORIAMENTE e SEMPRE: ACIDENTE DE TRABALHO. O conteúdo deve ser informativo, preventivo e/ou jurídico em linguagem acessível, sem prometer resultados e sem orientação legal personalizada. Após gerar o texto, enviar obrigatoriamente para o subagente BacklinkMaster. O texto final exibido ao usuário deve ser o texto com backlinks integrados.\",\n\n  \"steps\": {\n    \"Step 1\": \"Criar o conteúdo utilizando o perfil Expert SEO Copywriter & Humanizer.\",\n    \"Step 2\": \"Enviar o texto diretamente para o Subagente de Backlinks (BacklinkMaster).\",\n    \"Step 3\": \"Entregar ao usuário o texto final com backlinks naturais.\"\n  },\n\n  \"guidelines\": [\n    \"Usar SOMENTE HTML: <h2>, <h3>, <p>, <ul>, <li>, <strong>, <em>.\",\n    \"Nunca usar <h1>, <html>, <body>, <style> ou atributos CSS.\",\n    \"O tema acidente de trabalho deve estar presente e explícito em TODAS as seções e exemplos.\",\n    \"A keyword (campo 'keyword') deve aparecer: no primeiro parágrafo, no início de todos os blocos H2 e a cada 120-150 palavras, sem forçar repetição artificial.\",\n    \"Seguir integralmente a estrutura fornecida em 'estrutura_topicos', sem alterar ordem, sem renomear títulos e sem adicionar tópicos.\",\n    \"Parágrafos curtos (2 a 4 linhas).\",\n    \"Leitura fácil (readability 70–80) equivalente ao 7º ano.\",\n    \"H3 devem ter respostas diretas, objetivas e style-friendly para snippets (AEO).\",\n    \"Produzir entre 600 a 2000 palavras no total.\",\n    \"Criar um bloco final com CTA voltado a orientação/apoio sobre acidente de trabalho, mas NÃO usar a palavra 'Conclusão' (usar H2 com benefício).\",\n    \"Gerar uma seção FAQ no formato: H2 → H3 → p.\",\n    \"Evitar afirmações absolutas e promessas de ganho de causa; usar linguagem responsável (ex.: 'em geral', 'pode variar', 'depende do caso').\",\n    \"Não dar aconselhamento jurídico individual; quando necessário, orientar a procurar sindicato, RH, médico do trabalho ou advogado trabalhista.\"\n  ],\n\n  \"workflow_rules\": [\n    \"1. Gerar o texto completo em HTML com base no JSON do Agente SEO.\",\n    \"2. Enviar SOMENTE o HTML, sem JSON, ao subagente BacklinkMaster.\",\n    \"3. Entregar ao usuário SOMENTE o HTML final com backlinks.\",\n    \"4. Nunca repetir um artigo, sempre verificar no chat memóry o que você já criou\"\n  ],\n\n "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        304,
        0
      ],
      "id": "5698cd41-05c5-4494-8ef7-ef48dfe9d40e",
      "name": "AgenteRedator"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        320
      ],
      "id": "9776e296-c579-43cf-8a2b-c642dde2d3de",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "OyG7Ue0lwiZRQM7Q",
          "name": "Google Gemini(PaLM) Api sulicorpar"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        320
      ],
      "id": "a8b8accd-5d1f-411d-b099-07038f89b537",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4Sfrhdg0GjeRE7VP",
          "name": "OpenAi -Sulicorpar-ads"
        }
      }
    },
    {
      "parameters": {
        "description": "Subagente BacklinkMaster\nEspecialista em Backlinks\nEntrada:\n\nSaída:\n\nMesmo HTML + até 2 backlinks naturais permitidos",
        "workflowId": {
          "__rl": true,
          "value": "FYXlGe3uA509rB50",
          "mode": "list",
          "cachedResultUrl": "/workflow/FYXlGe3uA509rB50",
          "cachedResultName": "BACKLINKMASTER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "texto_html": "={{ $fromAI('texto_html', `texto html do conteudo gerado`, 'string') }}"
          },
          "matchingColumns": [
            "texto_html"
          ],
          "schema": [
            {
              "id": "texto_html",
              "displayName": "texto_html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        800,
        336
      ],
      "id": "11292376-c3be-4504-88cd-1482ccc6490d",
      "name": "BacklinkMaster"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.agent_seo.titulo }}",
        "tableName": "artigos_blog_criados",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        272,
        320
      ],
      "id": "9772026f-add8-4559-b51e-5d3cb0863006",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Ohx6rJRyzB5IJKNX",
          "name": "Postgres sulicorpar"
        }
      }
    },
    {
      "parameters": {
        "operation": "publish",
        "channel": "AgenteGeradorImagem",
        "messageData": "={{ $json.toJsonString() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "bdeb33fa-cfac-43b5-bfe4-5f9ba6f28739",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "eAhvPmbxbHz08wKG",
          "name": "Redis sulicorpar"
        }
      }
    },
    {
      "parameters": {
        "channels": "agenteRedator",
        "options": {
          "jsonParseBody": true
        }
      },
      "type": "n8n-nodes-base.redisTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "23ad6e6d-10cb-4a12-ae24-41968a0b4fe8",
      "name": "RedisTrigger",
      "credentials": {
        "redis": {
          "id": "eAhvPmbxbHz08wKG",
          "name": "Redis sulicorpar"
        }
      }
    }
  ],
  "pinData": {
    "RedisTrigger": [
      {
        "json": {
          "channel": "agenteRedator",
          "message": {
            "forms_content": {
              "Tipo": [
                "Post-Pagina-Web"
              ],
              "Título-Palavra-Chave": "",
              "URL-Image-Post": "",
              "Url-Vídeo-Youtube": "",
              "Url-Post-Pagina-Web": "https://advocaciareis.adv.br/blog/trabalhista/acidente-de-trabalho-direitos/",
              "Quantidade de Artigos por Palavra-Chave": 1,
              "submittedAt": "2026-01-30T10:39:18.023-03:00",
              "formMode": "production"
            },
            "agent_seo": {
              "keyword": "acidente de trabalho",
              "titulo": "Acidente de trabalho: direitos, prevenção e responsabilidades essenciais",
              "slug": "acidente-de-trabalho-direitos-prevencao-responsabilidades-essenciais",
              "meta_descricao": "Acidente de trabalho exige conhecimento sobre direitos, prevenção, CAT, INSS, estabilidade, indenização e segurança.",
              "introducao": "<p>Acidente de trabalho representa um desafio importante para empregados e empregadores, exigindo atenção especial à prevenção, direitos legais e responsabilidades. Compreender conceitos como CAT, INSS, estabilidade e indenização é fundamental para garantir a segurança e o amparo devido a quem sofre esses incidentes no ambiente laboral.</p>",
              "tags": "acidente de trabalho",
              "categorias": "acidente de trabalho",
              "estrutura_topicos": [
                {
                  "texto": "O que configura um acidente de trabalho e suas principais causas"
                },
                {
                  "texto": "Direitos trabalhistas na ocorrência de acidente de trabalho"
                },
                {
                  "texto": "Como registrar a Comunicação de Acidente de Trabalho (CAT)"
                },
                {
                  "texto": "Processo de afastamento e benefícios do INSS para acidente de trabalho"
                },
                {
                  "texto": "Estabilidade após acidente de trabalho: o que diz a lei"
                },
                {
                  "texto": "Responsabilidade do empregador e medidas de prevenção"
                },
                {
                  "texto": "Importância da saúde e segurança do trabalho (SST) na redução de acidentes"
                },
                {
                  "texto": "Indenização e reparação por acidente de trabalho"
                }
              ]
            },
            "type": "video"
          }
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "saida_estruturada",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "saida_estruturada": {
      "ai_outputParser": [
        [
          {
            "node": "AgenteRedator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteRedator": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteRedator",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteRedator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "BacklinkMaster": {
      "ai_tool": [
        [
          {
            "node": "AgenteRedator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AgenteRedator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "RedisTrigger": {
      "main": [
        [
          {
            "node": "AgenteRedator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14fc7ff6-4fff-4301-b841-bece9a9ae55b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "078c5e58209b0e064da2b48eb1104acbbb559b9ca0c3510746cbc05aca35c13a"
  },
  "id": "LyH6pxlDpQ2F8n1q",
  "tags": []
}