R-RECURSOS/99-AUTOMACOES-PRONTAS/workflows-n8n/55-Real_Estate_Lead_Generation_with_BatchData_Skip_Tracing___CRM_Integration.json
{
  "name": "55-Real_Estate_Lead_Generation_with_BatchData_Skip_Tracing___CRM_Integration",
  "nodes": [
    {
      "parameters": {},
      "id": "08eae7f5-0b8f-450b-91d5-5c6753bff600",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -720,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "d17f2432-ceae-41d6-8047-ae55f91c006f",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -720,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.batchdata.com/api/v1/property/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.APIkey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchCriteria\": {\n    \"query\": \"{{ $json.city }}, {{ $json.state }}\",\n    \"quickList\": \"{{ $json.quicklist }}\",\n    \"valuation\": {\n      \"estimatedValue\":{\"min\": {{ $json.minValue }}, \"max\": {{ $json.maxValue }}},\n      \"equityPercent\":{\"min\": {{ $json.equityMin }}} \n    },\n    \"general\": {\n      \"propertyTypeDetail\": {\"equals\": \"{{ $json.propertyType }}\"}\n    }\n  },\n  \"options\": {\n    \"skip\": 0,\n    \"take\": {{ $json.propertiesToTake }}\n    }\n}",
        "options": {}
      },
      "id": "6fcec8a4-da5b-4941-8c47-d5cce337cad3",
      "name": "Search Properties API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -64,
        560
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "city",
              "value": "=Austin"
            },
            {
              "name": "state",
              "value": "Texas"
            },
            {
              "name": "propertyType",
              "value": "Single Family"
            },
            {
              "name": "minValue",
              "value": "200000"
            },
            {
              "name": "maxValue",
              "value": "500000"
            },
            {
              "name": "quicklist",
              "value": "out-of-state-owner"
            },
            {
              "name": "equityMin",
              "value": "30"
            },
            {
              "name": "propertiesToTake",
              "value": "2"
            },
            {
              "name": "APIkey",
              "value": "REPLACE ME"
            }
          ]
        },
        "options": {}
      },
      "id": "f52e5e24-5e6d-4e65-8e9f-5748817f00cf",
      "name": "Configure Search Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        -336,
        544
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.batchdata.com/api/v1/property/skip-trace",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configure Search Parameters').item.json.APIkey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"propertyAddress\": {\n        \"street\": \"{{ $json.address.street }}\",\n        \"city\": \"{{ $json.address.city }}\",\n        \"state\": \"{{ $json.address.state }}\"\n      }\n    }\n  ]\n} ",
        "options": {}
      },
      "id": "7fff845e-39d7-4785-b54d-15483db553d0",
      "name": "Get Owner Contact Info",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        432,
        528
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\n$input.all().forEach(item => {\n  const persons = ((item.json.results || {}).persons) || [];\n  persons.forEach(person => {\n    // Owner info\n    const owner_name = `${person.name.first || \"\"} ${person.name.middle || \"\"} ${person.name.last || \"\"}`.trim();\n    const property = person.property || {};\n    const propAddress = person.propertyAddress || {};\n    const mailing = person.mailingAddress || {};\n\n    // Property meta\n    const property_id = property.id || \"\";\n    const address = propAddress.street || \"\";\n    const city = propAddress.city || \"\";\n    const state = propAddress.state || \"\";\n    const zip = propAddress.zip || \"\";\n\n    // Property info\n    const absentee_owner = (property.absenteeOwner === true) ? \"Yes\" : \"No\";\n    const equity = property.equity || \"\";\n    const equity_percent = property.equityPercent || \"\";\n    const owner_mailing_address = mailing.street || \"\";\n    const owner_mailing_city = mailing.city || \"\";\n    const owner_mailing_state = mailing.state || \"\";\n    const owner_mailing_zip = mailing.zip || \"\";\n\n    // Create row object with basic info\n    const row = {\n      owner_name,\n      property_id,\n      address,\n      city,\n      state,\n      zip,\n      absentee_owner,\n      equity,\n      equity_percent,\n      owner_mailing_address,\n      owner_mailing_city,\n      owner_mailing_state,\n      owner_mailing_zip,\n      lead_source: 'BatchData Property Search',\n      date_added: new Date().toISOString().split('T')[0]\n    };\n\n    // Add phones as phone_1, phone_2, etc.\n    (person.phoneNumbers || []).forEach((phone, idx) => {\n      const n = idx + 1;\n      row[`phone_${n}`] = phone.number;\n      row[`phone_${n}_type`] = phone.type;\n      row[`phone_${n}_carrier`] = phone.carrier;\n      row[`phone_${n}_tested`] = phone.tested ? \"Yes\" : \"No\";\n      row[`phone_${n}_reachable`] = phone.reachable ? \"Yes\" : \"No\";\n      row[`phone_${n}_dnc`] = phone.dnc ? \"Yes\" : \"No\";\n      row[`phone_${n}_last_reported`] = phone.lastReportedDate;\n      row[`phone_${n}_score`] = phone.score;\n    });\n\n    // Add emails as email_1, email_2, etc.\n    (person.emails || []).forEach((email, idx) => {\n      const n = idx + 1;\n      row[`email_${n}`] = email.address || email;\n    });\n\n    output.push(row);\n  });\n});\n\nreturn output.map(row => ({ json: row }));\n"
      },
      "id": "60bd1dcd-0ded-4f49-8d0a-5b992df7f1a7",
      "name": "Format Lead Data",
      "type": "n8n-nodes-base.code",
      "position": [
        608,
        608
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "=Property_Leads_BatchData_{{ $now.format('LL/dd/yyyy') }}.xlsx",
          "headerRow": true
        }
      },
      "id": "a7e49350-4078-4995-8d9c-4d57000a191d",
      "name": "Create Excel Spreadsheet",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        944,
        464
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "email": "=$json[\"email\"]",
        "additionalFields": {},
        "options": {}
      },
      "id": "29df5eb5-b796-475d-8b30-229f66befbbf",
      "name": "Push to CRM",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        944,
        848
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fromEmail": "no-reply@yourdomain.com",
        "toEmail": "your-email@yourdomain.com",
        "subject": "Property Lead Report - {{ $now.format('YYYY-MM-DD') }}",
        "options": {}
      },
      "id": "ead26b46-9696-4915-9c22-2802e9a792c0",
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1184,
        672
      ],
      "webhookId": "e9459278-1cd9-47bb-bffd-88380d297217",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "// Summarize the results of the property lead search\nconst leads = $input.all();\nconst totalLeads = leads.length;\n\n// Calculate the highest lead score\nlet highestScore = 0;\nif (totalLeads > 0) {\n  highestScore = Math.max(...leads.map(item => item.json.lead_score || 0));\n}\n\n// Return a summary object\nreturn {\n  json: {\n    total_leads: totalLeads,\n    highest_score: highestScore,\n    execution_date: new Date().toISOString(),\n    success: true\n  }\n};"
      },
      "id": "3058f7fe-5737-4400-8c8a-a68db261e89f",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "position": [
        944,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "# Property Lead Automation Workflow\n\nThis workflow automatically searches for potential real estate leads based on configured criteria, obtains owner contact information through skip tracing, and pushes the leads to your CRM. It can be run manually or scheduled to run daily.\n\n## Steps: Property Search → Filter Results → Skip Trace → Format Data → Export (Excel & CRM)",
        "height": 280,
        "width": 800
      },
      "id": "451dac82-5cc2-41c0-9c78-51b3b4e9880d",
      "name": "Sticky Note - Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Triggers\n\nThis workflow can be triggered in two ways:\n\n1. **Scheduled Trigger** - Runs automatically every day at the specified time\n\n2. **Manual Trigger** - Run the workflow on-demand by clicking Execute",
        "height": 620,
        "width": 320,
        "color": 2
      },
      "id": "415db550-583a-4a87-93cd-a3e9f4af3ba7",
      "name": "Sticky Note - Triggers",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Search Configuration\n\nConfigure your property search criteria including:\n\n- Location (city, state, zip)\n- Property type\n- Value range\n- Equity percentage\n- Owner status\n- And more\n\nEdit the 'search_parameters' in the Set node to customize your search criteria.",
        "height": 650,
        "width": 320,
        "color": 4
      },
      "id": "158225ca-c465-4382-b4cb-9f75a7999235",
      "name": "Sticky Note - Property Search",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Property Data Processing\n\n1. **Search Properties API** - Connect to BatchData to search for properties\n\n2. **Filter Property Results** - Apply additional filtering logic and calculate lead scores based on factors like:\n   - Equity percentage\n   - Years of ownership\n   - Owner occupancy status\n   - Tax delinquency\n   - Recent sales activity\n\n3. **Get Owner Contact Info** - Skip trace each property to find owner contact details\n\n4. **Format Lead Data** - Structure the data for CRM and reporting",
        "height": 660,
        "width": 880,
        "color": 5
      },
      "id": "50a88566-3f5b-4f07-b1f8-2a3dc5245338",
      "name": "Sticky Note - Data Processing",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Lead Output Options\n\n1. **Create Excel Spreadsheet** - Generates an Excel file with all property leads and details\n\n2. **Push to CRM** - Adds leads to your CRM system (HubSpot in this example, but can be changed to Salesforce, Zoho, etc.)\n\n3. **Email Notification** - Sends a summary email with the Excel file attached\n\n4. **Summarize Results** - Provides a summary of the execution results",
        "height": 920,
        "width": 560,
        "color": 6
      },
      "id": "8136bca7-986b-4f18-a99e-0350047aa40f",
      "name": "Sticky Note - Output",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cee6d210-4a90-4ad6-bbda-77153c21d3b4",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.results.properties[0].deedHistory[0].recordingDate }}",
              "rightValue": "2024-06-02T00:00:00"
            },
            {
              "id": "99089667-9c68-48d7-ad09-24a5ce301a70",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.results.properties[0].mls.status }}",
              "rightValue": "Off Market"
            },
            {
              "id": "261c72c7-7208-462c-860d-148f19d3922d",
              "operator": {
                "type": "number",
                "operation": "lt"
              },
              "leftValue": "={{ $json.results.properties[0].openLien.mortgages[0].ltv }}",
              "rightValue": 70
            },
            {
              "id": "0a18f08e-86ea-4859-85db-2137c2186d11",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.results.properties[0].quickLists.highEquity }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "31e8bfda-d5f1-4218-9357-9bcac4cee6d1",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        112,
        512
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "results.properties",
        "options": {}
      },
      "id": "0875c8cc-d434-4ed3-ba34-89816909a3c2",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        272,
        608
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get Owner Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Configure Search Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Data": {
      "main": [
        [
          {
            "node": "Create Excel Spreadsheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push to CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Results": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Properties API": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Owner Contact Info": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Excel Spreadsheet": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Search Parameters": {
      "main": [
        [
          {
            "node": "Search Properties API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Configure Search Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b127ec14-897e-4f1d-bd1e-cda0e228219e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e95d76b865ab33a762bb7f0045b2cbc328b9efd7eca77e8cbc3ac4192e08154e"
  },
  "id": "FhOqTJ2lAtR6MRWp",
  "tags": [
    {
      "updatedAt": "2025-07-09T21:41:38.773Z",
      "createdAt": "2025-07-09T21:41:38.773Z",
      "id": "G5Lcoe2jTgqCJuSy",
      "name": "OpenAI"
    },
    {
      "updatedAt": "2025-07-09T21:41:38.763Z",
      "createdAt": "2025-07-09T21:41:38.763Z",
      "id": "pz5LfYMpyppJnoPT",
      "name": "WooCommerce"
    }
  ]
}