R-RECURSOS/99-AUTOMACOES-PRONTAS/workflows-n8n/73-Auto_Categorize_blog_posts_in_wordpress_using_A_I_.json
{
  "name": "73-Auto_Categorize_blog_posts_in_wordpress_using_A_I_",
  "nodes": [
    {
      "parameters": {},
      "id": "4ab763fd-2cb5-4e34-b08c-18499e4a1a5f",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -688,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $('Get All Wordpress Posts').item.json.id }}",
        "updateFields": {
          "categories": "={{ $json.output }}"
        }
      },
      "id": "dbd9213f-f026-4109-9755-c2f27ace7200",
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        144,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How to Auto-Categorize 82 Blog Posts in 2 Minutes using A.I. (No Coding Required)\n\n",
        "width": 504.88636363636317
      },
      "id": "643e03ed-5905-4d7b-b7fa-870102afe413",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Get wordpress posts\n\nTurn off return all if you're running into issues.\n",
        "height": 327.3400673400663,
        "width": 188.14814814814804,
        "color": 3
      },
      "id": "a062508f-f184-4780-ab73-74f911c87a6d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### A.I. Categorization\n\n1. you need to set up the categories first in wordpress\n\n2. Edit the message prompt and change the categories and category numbers",
        "height": 416.90235690235625,
        "width": 315.1464152082392,
        "color": 4
      },
      "id": "e992f86c-1260-4fe3-9d4f-7f6cb4e7e6f1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Update category",
        "height": 269.59595959595947,
        "width": 171.64983164983155,
        "color": 5
      },
      "id": "11fc37c5-96c2-4cea-8d5c-50c6af23a65d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "04348140-fbfe-4f8e-acac-a2d0a9421e19",
      "name": "Get All Wordpress Posts",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        -464,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9cf9b126-f37e-4438-96f4-dda49eb3edc9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -288,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert content strategist and taxonomy specialist with extensive experience in blog categorization and content organization.\n\nI will provide you with a blog post's title. Your task is to assign ONE primary category ID from this fixed list:\n\n13 = Content Creation\n14 = Digital Marketing\n15 = AI Tools\n17 = Automation & Integration\n18 = Productivity Tools\n19 = Analytics & Strategy\n\nAnalyze the title and return only the single most relevant category ID number that best represents the main focus of the post. While a post might touch on multiple topics, select the dominant theme that would be most useful for navigation purposes.\n\n{{ $json.title.rendered }}\n\nOutput only the category number",
        "options": {}
      },
      "id": "daa94ba8-cda5-4641-a321-0453e4183f8f",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -256,
        -48
      ],
      "typeVersion": 1.7
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get All Wordpress Posts": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get All Wordpress Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f699fe54-94ec-42be-86ce-b0e7c47e6521",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e95d76b865ab33a762bb7f0045b2cbc328b9efd7eca77e8cbc3ac4192e08154e"
  },
  "id": "pegNjHaDbrHH5X43",
  "tags": [
    {
      "updatedAt": "2025-07-09T21:41:38.773Z",
      "createdAt": "2025-07-09T21:41:38.773Z",
      "id": "G5Lcoe2jTgqCJuSy",
      "name": "OpenAI"
    },
    {
      "updatedAt": "2025-07-09T21:41:38.763Z",
      "createdAt": "2025-07-09T21:41:38.763Z",
      "id": "pz5LfYMpyppJnoPT",
      "name": "WooCommerce"
    }
  ]
}