R-RECURSOS/99-AUTOMACOES-PRONTAS/workflows-n8n/80-Scrape_Indeed_Job_Listings_for_Hiring_Signals_Using_Bright_Data_and_LLMs.json
{
  "name": "80-Scrape_Indeed_Job_Listings_for_Hiring_Signals_Using_Bright_Data_and_LLMs",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/progress/{{ $('HTTP Request- Post API call to Bright Data').item.json.snapshot_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <YOUR_BRIGHT_DATA_API_KEY>"
            }
          ]
        },
        "options": {}
      },
      "id": "34f26e2d-63ed-4ec9-805c-212ad2c75f42",
      "name": "Snapshot Progress",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1632,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "In this workflow, I use Google Sheets to store the results. \n\nYou can use my template to get started faster:\n\n1. [Click on this link to get the template](https://docs.google.com/spreadsheets/d/1vHHNShHD96AWsPnbXzlDAhPg_DbXr_Yx3wsAnQEtuyU/edit?usp=sharing)\n2. Make a copy of the Sheets\n3. Add the URL to this node \n\n\n",
        "height": 646,
        "width": 195
      },
      "id": "1be22ada-a0ce-48d1-a483-5d1a47861522",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🔍 Indeed Jobs API – Parameter Guide\nUse this object to query Indeed job listings In Bright Data Web Scraper API.  \nEach field lets you filter results based on different criteria.\n```json\n{\n  \"country\": \"US\",\n  \"domain\": \"indeed.com\",\n  \"keyword_search\": \"Software Engineer\",\n  \"location\": \"Austin, TX\",\n  \"date_posted\": \"Last 7 days\",\n  \"posted_by\": \"Microsoft\",\n  \"pay\": 85000\n}\n```\n\n## 🧾 Field Explanations & Valid Options\n\n### 🌍 country\n**Required**\nCountry of the job, use 2-letter ISO code.\n✅ Example: \"US\", \"FR\", \"DE\"\n\n### 🌐 domain\n**Required**\nThe Indeed domain you want to collect from.\n✅ Example: \"indeed.com\", \"fr.indeed.com\"\n\n### 🧠 keyword_search\n**Required**\nSearch jobs by job title or company.\n✅ Example: \"Data Scientist\", \"Marketing Manager\"\n\n### 🗺️ location\n**Required**\nEnter specific job location you want to discover.\n✅ Example: \"New York\", \"London\"\n\n### ⏱️ date_posted\nFilter jobs by posting date.\nAccepted values:\n- Last 24 hours\n- Last 3 days\n- Last 7 days\n- Last 14 days\n\n✅ Example: \"Last 7 days\"\n\n### 👔 posted_by\nFilter jobs by posting entity or recruiter.\n✅ Example: \"Company name\", \"Recruiter name\"\n\n### 💰 pay\nFilter jobs by salary or pay rate.\nUse numerical values only.\n✅ Example: 50000, 75000\n\n## ✅ Full Example\n```json\n{\n  \"country\": \"US\",\n  \"domain\": \"indeed.com\",\n  \"keyword_search\": \"Software Developer\",\n  \"location\": \"San Francisco\",\n  \"date_posted\": \"Last 3 days\",\n  \"posted_by\": \"Microsoft\",\n  \"pay\": 85000\n}\n```",
        "height": 1600,
        "width": 480
      },
      "id": "d844d450-2317-4ad2-a70e-c8b50d04e5f7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Linkedin High Intent Prospects And Job Post Hunt",
        "formDescription": "This form lets you customize your job search / prospecting by choosing:\n\nLocation (city or region)\n\nJob title or keywords\n\nCountry code\n",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Job Location",
              "placeholder": "example: new york",
              "requiredField": true
            },
            {
              "fieldLabel": "Keyword",
              "placeholder": "example: CMO, AI architect",
              "requiredField": true
            },
            {
              "fieldLabel": "Country (2 letters)",
              "placeholder": "example: US,UK,IL",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "f9c7238e-a1b7-4992-b651-804ff391e375",
      "name": "On form submission - Discover Jobs",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        704,
        224
      ],
      "webhookId": "8d0269c7-d1fc-45a1-a411-19634a1e0b82",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brightdata.com/datasets/v3/trigger",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataset_id",
              "value": "gd_l4dx9j9sscpvs7no2"
            },
            {
              "name": "include_errors",
              "value": "true"
            },
            {
              "name": "type",
              "value": "discover_new"
            },
            {
              "name": "discover_by",
              "value": "keyword"
            },
            {
              "name": "uncompressed_webhook",
              "value": "true"
            },
            {
              "name": "type",
              "value": "discover_new"
            },
            {
              "name": "discover_by",
              "value": "=keyword"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <YOUR_BRIGHT_DATA_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"country\": \"{{ $json['Country (2 letters)'] }}\",\n    \"domain\": \"indeed.com\",\n    \"keyword_search\": \"{{ $json.Keyword }}\",\n    \"location\": \"{{ $json['Job Location'] }}\",\n    \"date_posted\": \"Last 24 hours\",\n    \"posted_by\": \"\"\n  }\n]",
        "options": {}
      },
      "id": "65946700-0044-4719-b6a0-5d0ab4730454",
      "name": "HTTP Request- Post API call to Bright Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1040,
        272
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "f0c4e4df-3b81-424e-9c4b-089a451c59fb",
      "name": "Wait - Polling Bright Data",
      "type": "n8n-nodes-base.wait",
      "position": [
        1392,
        0
      ],
      "webhookId": "8005a2b3-2195-479e-badb-d90e4240e699",
      "executeOnce": false,
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7932282b-71bb-4bbb-ab73-4978e554de7e",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "running"
            }
          ]
        },
        "options": {}
      },
      "id": "76e9ecad-dff2-43ca-baa3-90c54d103c55",
      "name": "If - Checking status of Snapshot - if data is ready or not",
      "type": "n8n-nodes-base.if",
      "position": [
        1824,
        0
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/snapshot/{{ $('HTTP Request- Post API call to Bright Data').item.json.snapshot_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <YOUR_BRIGHT_DATA_API_KEY>"
            }
          ]
        },
        "options": {}
      },
      "id": "f32dc7ea-6ac6-4d77-b4cc-24a541de6941",
      "name": "HTTP Request - Getting data from Bright Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2112,
        32
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1vHHNShHD96AWsPnbXzlDAhPg_DbXr_Yx3wsAnQEtuyU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHHNShHD96AWsPnbXzlDAhPg_DbXr_Yx3wsAnQEtuyU/edit?usp=drivesdk",
          "cachedResultName": "NoFluff-N8N-Sheet-Template- Indeed Job Scraping WIth Bright Data"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHHNShHD96AWsPnbXzlDAhPg_DbXr_Yx3wsAnQEtuyU/edit#gid=0",
          "cachedResultName": "input"
        },
        "columns": {
          "value": {},
          "schema": [
            {
              "id": "jobid",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "jobid",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date_posted_parsed",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "date_posted_parsed",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "job_title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description_text",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "description_text",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "benefits",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "benefits",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_type",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "job_type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_formatted",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "salary_formatted",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_rating",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_reviews_count",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_reviews_count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date_posted",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "date_posted",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company_link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "domain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "apply_link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is_expired",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "is_expired",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_location",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "job_location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_description_formatted",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "job_description_formatted",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "logo_url",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "logo_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "406ed9dc-53be-46a1-a7a3-1517e81c2843",
      "name": "Google Sheets - Adding All Job Posts",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2720,
        80
      ],
      "typeVersion": 4.3,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "🧠 Bright Data Trigger – Customize Your Job Query\n\nThis HTTP Request sends a POST call to Bright Data to start a new dataset snapshot based on your filters.\n\n👋 If you don’t want to use the Form Trigger,\nyou can directly adjust the filters here in this node.\n\nYou can customize:\n\n\"location\" → city, region, or keyword (e.g. \"New York\", \"Remote\")\n\n\"keyword\" → job title or role (e.g. \"CMO\", \"AI Engineer\")\n\n\"country\" → 2-letter country code (e.g. \"US\", \"UK\")\n\n\"time_range\" → \"Past 24 hours\", \"Last 7 days\", etc.\n\n\n\n📌 Tip:\nUse \"Past 24 hours\" or \"Last 7 days\" for the freshest results.",
        "height": 880,
        "width": 300
      },
      "id": "11567d68-d4b1-42b3-941c-da74dd4047b4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Bright Data Getting Jobs\n",
        "height": 360,
        "width": 940,
        "color": 4
      },
      "id": "5f397b29-f5e7-4448-aa59-fe3535254fbc",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "company_name, job_title, description_text",
        "options": {}
      },
      "id": "6c2826bf-894b-4a9b-9e27-4b6dd1389ace",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2944,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "7549e819-5153-4d23-8f84-10126f688aa0",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3264,
        304
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1vHHNShHD96AWsPnbXzlDAhPg_DbXr_Yx3wsAnQEtuyU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHHNShHD96AWsPnbXzlDAhPg_DbXr_Yx3wsAnQEtuyU/edit?usp=drivesdk",
          "cachedResultName": "NoFluff-N8N-Sheet-Template- Indeed Job Scraping WIth Bright Data"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHHNShHD96AWsPnbXzlDAhPg_DbXr_Yx3wsAnQEtuyU/edit#gid=0",
          "cachedResultName": "input"
        },
        "columns": {
          "value": {
            "AM I a Fit?": "={{ $json.text }}",
            "company_name": "={{ $('Split Out').item.json.company_name }}"
          },
          "schema": [
            {
              "id": "jobid",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "jobid",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "company_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date_posted_parsed",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "date_posted_parsed",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "job_title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description_text",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "description_text",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "benefits",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "benefits",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_type",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "job_type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "salary_formatted",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "salary_formatted",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_rating",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_reviews_count",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_reviews_count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date_posted",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "date_posted",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company_link",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "company_link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "domain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_link",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "apply_link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is_expired",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is_expired",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "job_location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_description_formatted",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "job_description_formatted",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "logo_url",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "logo_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "region",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "region",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "srcname",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "srcname",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "discovery_input",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "discovery_input",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "input",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "input",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "AM I a Fit?",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "AM I a Fit?",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "company_name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a6996eb4-bb36-4486-917e-dfdceceb1744",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3520,
        80
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "content": "Checking if each job post is relevant to you\n",
        "height": 620,
        "width": 280
      },
      "id": "2f077ef4-0ea2-473c-9451-8ca11f0407be",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3152,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Read the following job post:\nCompany Name {{ $json.company_name }}, job Title:\n{{ $json.job_title }},\nAnd job description {{ $json.description_text }}, and tell me if you think I'm a good fit. Answer only YES or NO.\n\nI'm looking for roles in Pfizer"
      },
      "id": "830276dc-81f6-46c6-ab04-926773740d98",
      "name": "Basic LLM Chain - Checking Fit",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3168,
        80
      ],
      "typeVersion": 1.6
    }
  ],
  "pinData": {
    "On form submission - Discover Jobs": [
      {
        "json": {
          "Keyword": "Marketing",
          "formMode": "test",
          "submittedAt": "2025-04-17T14:03:33.242+04:00",
          "Job Location": "Miami",
          "Country (2 letters)": "US"
        }
      }
    ]
  },
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Basic LLM Chain - Checking Fit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain - Checking Fit",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot Progress": {
      "main": [
        [
          {
            "node": "If - Checking status of Snapshot - if data is ready or not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Polling Bright Data": {
      "main": [
        [
          {
            "node": "Snapshot Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain - Checking Fit": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission - Discover Jobs": {
      "main": [
        [
          {
            "node": "HTTP Request- Post API call to Bright Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Adding All Job Posts": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request- Post API call to Bright Data": {
      "main": [
        [
          {
            "node": "Wait - Polling Bright Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Getting data from Bright Data": {
      "main": [
        [
          {
            "node": "Google Sheets - Adding All Job Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Checking status of Snapshot - if data is ready or not": {
      "main": [
        [
          {
            "node": "Wait - Polling Bright Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Getting data from Bright Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b38a79c7-a120-4f5e-af57-e8f053fcd413",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e95d76b865ab33a762bb7f0045b2cbc328b9efd7eca77e8cbc3ac4192e08154e"
  },
  "id": "pNrfCo3EeTXnvTIr",
  "tags": [
    {
      "updatedAt": "2025-07-09T21:41:38.773Z",
      "createdAt": "2025-07-09T21:41:38.773Z",
      "id": "G5Lcoe2jTgqCJuSy",
      "name": "OpenAI"
    },
    {
      "updatedAt": "2025-07-09T21:41:38.763Z",
      "createdAt": "2025-07-09T21:41:38.763Z",
      "id": "pz5LfYMpyppJnoPT",
      "name": "WooCommerce"
    }
  ]
}