R-RECURSOS/99-AUTOMACOES-PRONTAS/workflows-n8n/94-multiple-websites-monitoring-with-notifications-including-phone-calls.json
{
  "name": "94-multiple-websites-monitoring-with-notifications-including-phone-calls",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "89285dd4-89d7-4726-b2d5-70b919d1738a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1120,
        2432
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f624f586-07eb-4e5e-b748-9e5605e2b102",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -688,
        2432
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "={{ $json['Website URL'] }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 5000
        }
      },
      "id": "4bf3a7b5-62a1-402d-bf22-3222d1767a67",
      "name": "Check website status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -464,
        1904
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit?usp=drivesdk",
          "cachedResultName": "Website Moniter"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 959117872,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit#gid=959117872",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "6f17ae5e-5451-4b78-99b1-20fa16255ead",
      "name": "Website URLs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -896,
        2432
      ],
      "executeOnce": false,
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pyZpr6oR7iwl8Gc5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit?usp=drivesdk",
          "cachedResultName": "Website Moniter"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit#gid=0",
          "cachedResultName": "Sheet2"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Website URL",
              "lookupValue": "={{ $('Loop Over Items').item.json['Website URL'] }}"
            },
            {
              "lookupColumn": "Up Time"
            }
          ]
        },
        "options": {}
      },
      "id": "9a429a0a-06f0-49ca-9d6a-d2bfa55a996c",
      "name": "Get Active Down Record",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -16,
        1808
      ],
      "executeOnce": false,
      "typeVersion": 4.6,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pyZpr6oR7iwl8Gc5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit?usp=drivesdk",
          "cachedResultName": "Website Moniter"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit#gid=0",
          "cachedResultName": "Sheet2"
        },
        "columns": {
          "value": {
            "Up Time": "={{ new Date().toLocaleTimeString('en-GB', { hour12: false }) }}",
            "row_number": "={{ $json.row_number }}",
            "Website URL": "={{ $json['Website URL'] }}",
            "Total downtime": "={{(() => {\n  const downTimeStr = $input.first().json['Down Time'];\n\n  // Get current time in HH:MM:SS format\n  const now = new Date();\n  const upTimeStr = now.toLocaleTimeString('en-GB', { hour12: false });\n\n  function parseTime(timeStr) {\n    const [h, m, s] = timeStr.split(\":\").map(Number);\n    const date = new Date();\n    date.setHours(h, m, s, 0);\n    return date;\n  }\n\n  const downTime = parseTime(downTimeStr);\n  const upTime = parseTime(upTimeStr);\n\n  // Handle overnight scenario\n  if (upTime < downTime) {\n    upTime.setDate(upTime.getDate() + 1);\n  }\n\n  const diffMs = upTime - downTime;\n  const totalMinutes = Math.floor(diffMs / 60000);\n  const hours = Math.floor(totalMinutes / 60);\n  const minutes = totalMinutes % 60;\n  const seconds = Math.floor((diffMs % 60000) / 1000);\n\n  return `${hours}h ${minutes}m ${seconds}s`;\n})()}}"
          },
          "schema": [
            {
              "id": "Website URL",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Website URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Down Time",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Down Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Up Time",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Up Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Total downtime",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Total downtime",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "57f054ee-8f40-45a9-9da9-3befd1ac489c",
      "name": "Update Uptime and Total Downtime",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        432,
        1808
      ],
      "executeOnce": false,
      "typeVersion": 4.6,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pyZpr6oR7iwl8Gc5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let hasIncompleteRecord = false;\n\nfor (const item of $input.all()) {\n  const url = item.json['Website URL']?.trim();\n  const downTime = item.json['Down Time']?.trim();\n  const upTime = item.json['Up Time']?.trim();\n  const totalDowntime = item.json['Total downtime']?.trim();\n\n  if (url && downTime && (!upTime || !totalDowntime)) {\n    hasIncompleteRecord = true;\n  }\n}\n\nreturn [\n  {\n    json: {\n      status: hasIncompleteRecord ? \"yes\" : \"no\",\n      websites: $input.first().json['Website URL']\n    }\n  }\n];\n"
      },
      "id": "e6575156-1a32-429a-9ee7-deef3c4f863d",
      "name": "Find Existing Record",
      "type": "n8n-nodes-base.code",
      "position": [
        208,
        2208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit?usp=drivesdk",
          "cachedResultName": "Website Moniter"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit#gid=0",
          "cachedResultName": "Sheet2"
        },
        "columns": {
          "value": {
            "Down Time": "={{ new Date().toLocaleTimeString('en-GB', { hour12: false }) }}",
            "Website URL": "={{ $('Loop Over Items').item.json[\"Website URL\"] }}"
          },
          "schema": [
            {
              "id": "Website URL",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Website URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Down Time",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Down Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Up Time",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Up Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Total downtime",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Total downtime",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Website URL"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "220717dd-659a-44af-98f8-3e03aa0021ea",
      "name": "Add Downtime Record",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        640,
        2208
      ],
      "executeOnce": false,
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pyZpr6oR7iwl8Gc5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer vapi_api_key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"assistant_id\",\n  \"assistantOverrides\": {\n    \"variableValues\": {\n    \"name\":\"John\",\n    \"web_domain\":\"{{ $json['Website URL'] }}\"\n    }\n  },\n  \"customer\": {\n    \"number\": \"+919999999999\"\n  },\n  \"phoneNumberId\": \"phone_number_id\"\n}",
        "options": {}
      },
      "id": "59d163f7-771e-40e6-bf5f-e091de3233a9",
      "name": "Notify over Phone Call",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        864,
        2592
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9e5df4d3-c9fd-4311-ae97-c06fcbcc1c97",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "id": "5345ee2f-55bf-4211-bd40-286fbf522af0",
      "name": "Check Downtime Exists",
      "type": "n8n-nodes-base.if",
      "position": [
        432,
        2208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sendTo": "example@gmail.com",
        "subject": "=Your site is down!!",
        "message": "=Hi there,\n\nThe Website {{ $json['Website URL'] }} is Down. Please take the required action as soon as possible.",
        "options": {}
      },
      "id": "ef94a17c-ddd7-48f2-88a1-a0dd3790e20b",
      "name": "Email Notification for Down",
      "type": "n8n-nodes-base.gmail",
      "position": [
        864,
        1984
      ],
      "webhookId": "01059553-6361-4349-99c0-d6e467198e19",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "IXi1kkbb2nCpoTSR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": "U08QEDH1YVB",
          "cachedResultName": "mail"
        },
        "text": "=🚨 Alert:| Hi there, The {{ $json['Website URL'] }} website is currently down. Kindly look into this issue and take necessary action as soon as possible.  Thank you.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "e79a52cd-7ea4-41fc-80e3-82ac947d4d1f",
      "name": "Slack Notification for Down",
      "type": "n8n-nodes-base.slack",
      "position": [
        864,
        2176
      ],
      "webhookId": "379f0487-218b-4137-9a89-02c29f9ab48f",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "zPPPZzCjzqdYPosb",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002286661825",
        "text": "=🚨 Alert: Hi there, | The {{ $json['Website URL'] }} website is currently down. Kindly look into this issue and take necessary action as soon as possible.  Thank you.",
        "additionalFields": {}
      },
      "id": "8203750f-b83b-4f7e-9982-69bf88e3ccb2",
      "name": "Telegram Notification for Down",
      "type": "n8n-nodes-base.telegram",
      "position": [
        864,
        2384
      ],
      "webhookId": "b76cf08e-146f-4dce-8b55-0467b6130b5c",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "LXHr60rCVMuiROdo",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "example@gmail.com",
        "subject": "=Site is now working fine.",
        "message": "=Hi there,\n\nWe're excited to announce that the {{ $('Website URLs').item.json['Website URL'] }} is now live!\nFeel free to visit and explore.",
        "options": {}
      },
      "id": "5a86f273-6c29-47c8-9c88-9f36bd56cfba",
      "name": "Email Notification for Up",
      "type": "n8n-nodes-base.gmail",
      "position": [
        640,
        1600
      ],
      "webhookId": "01059553-6361-4349-99c0-d6e467198e19",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "IXi1kkbb2nCpoTSR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": "U08QEDH1YVB",
          "cachedResultName": "mail"
        },
        "text": "We're excited to announce that the {{ $('Website URLs').item.json['Website URL'] }} is now live! Feel free to visit and explore.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "19a35cc4-9477-476b-973c-02ccbe4746a4",
      "name": "Slack Notification for Up",
      "type": "n8n-nodes-base.slack",
      "position": [
        640,
        1808
      ],
      "webhookId": "379f0487-218b-4137-9a89-02c29f9ab48f",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "zPPPZzCjzqdYPosb",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002286661825",
        "text": "We're excited to announce that the {{ $('Website URLs').item.json['Website URL'] }} is now live! Feel free to visit and explore.",
        "additionalFields": {}
      },
      "id": "5465b80d-c302-4931-988e-f36ac48bcdef",
      "name": "Telegram Notification for Up",
      "type": "n8n-nodes-base.telegram",
      "position": [
        640,
        2000
      ],
      "webhookId": "b76cf08e-146f-4dce-8b55-0467b6130b5c",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "LXHr60rCVMuiROdo",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "### Website downtime monitoring with logging\nSample Sheet: https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit?usp=sharing\n- Sheet 1 - Add domain list for monitoring.\n- Sheet 2 - Store all downtime logs.\n\n\nCreate new assistant in Vapi and set First message as below.\n- Hello {{name}}, I'm Website Monitoring Assistant. This is a system alert. The {{web_domain}} is currently down. Please take immediate action to investigate and resolve the issue. Thank you.\n\n\n",
        "height": 280,
        "width": 560
      },
      "id": "ddcd8c3d-a22e-4ae7-bf00-3677c6a9a10c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        1472
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1337beb6-7974-45ab-9fa0-93f5ce0ee7b7",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{(() => {   const data = $json;   return Object.keys(data).length === 0; })()}}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "1a4b919f-6e78-48f3-968d-0caae9fe56f4",
      "name": "If Down Record Exist",
      "type": "n8n-nodes-base.if",
      "position": [
        208,
        1808
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"statusCode\"]}}",
              "operation": "equal",
              "value2": 400
            }
          ]
        }
      },
      "id": "c60f06ef-ab17-40d1-91b7-1ed1683c9c42",
      "name": "If Site Up",
      "type": "n8n-nodes-base.if",
      "position": [
        -240,
        1904
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit?usp=drivesdk",
          "cachedResultName": "Website Moniter"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_VVpkIvpYQigw5q0KmPXUAC2aV2rk1nRQLQZ7YK2KwY/edit#gid=0",
          "cachedResultName": "Sheet2"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Website URL",
              "lookupValue": "={{ $('Loop Over Items').item.json['Website URL'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08a21aa6-89c6-406b-becd-43688b793b2c",
      "name": "Get Existing Down Records",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -16,
        2208
      ],
      "typeVersion": 4.6,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pyZpr6oR7iwl8Gc5",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If Site Up": {
      "main": [
        [
          {
            "node": "Get Active Down Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Existing Down Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website URLs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check website status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Website URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Downtime Record": {
      "main": [
        [
          {
            "node": "Email Notification for Down",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification for Down",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Notification for Down",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify over Phone Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check website status": {
      "main": [
        [
          {
            "node": "If Site Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Record": {
      "main": [
        [
          {
            "node": "Check Downtime Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Down Record Exist": {
      "main": [
        [
          {
            "node": "Update Uptime and Total Downtime",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Downtime Exists": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Downtime Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Down Record": {
      "main": [
        [
          {
            "node": "If Down Record Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify over Phone Call": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Down Records": {
      "main": [
        [
          {
            "node": "Find Existing Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Notification for Down": {
      "main": [
        []
      ]
    },
    "Slack Notification for Down": {
      "main": [
        []
      ]
    },
    "Telegram Notification for Up": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notification for Down": {
      "main": [
        []
      ]
    },
    "Update Uptime and Total Downtime": {
      "main": [
        [
          {
            "node": "Email Notification for Up",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification for Up",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Notification for Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8e1d2c98-4b9a-4558-b12e-43e51e55aa96",
  "meta": {
    "instanceId": "e95d76b865ab33a762bb7f0045b2cbc328b9efd7eca77e8cbc3ac4192e08154e",
    "templateCredsSetupCompleted": true
  },
  "id": "JzBBDAfhcex4YIH6",
  "tags": []
}