R-RECURSOS/99-AUTOMACOES-PRONTAS/workflows-n8n/buscaAdvogados.json
{
  "name": "buscaAdvogados",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        224
      ],
      "id": "a4018373-c3b1-4ec2-a617-f126884a1e45",
      "name": "Inicio"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "advogados",
        "limit": 5
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        208
      ],
      "id": "a6fe6b2d-5d27-4283-9804-eb14efa096f5",
      "name": "Busca Advogados",
      "credentials": {
        "supabaseApi": {
          "id": "oLU8ldbYN6ruvw56",
          "name": "Supabase account - Sulicorpar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { \n'response':JSON.stringify($input.all().map(x =>x.json))\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        208
      ],
      "id": "9897dd31-80c3-4fdf-8706-815e269808c7",
      "name": "Normaliza Retorno em JSON"
    },
    {
      "parameters": {
        "content": "## Busca os Advogados Cadastrados no Supabase",
        "height": 660,
        "width": 1320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        80
      ],
      "id": "d54d43f4-69b9-46df-a208-ecff4f5b12de",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Gest茫o de Banco de Dados",
        "height": 280,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        416
      ],
      "id": "f552ff5a-6904-4fd9-9f89-5ae53da9f09b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " create table public.advogados (\nid bigint generated by default as identity not null,\ncreated_at timestamp with time zone not null default now(),\nnome text null,\nemail text null,\ntelefone text null,\nresumo text null,\n\"iCalUID\" text null,\n active boolean null default true,\n constraint professionals_pkey primary key (id)\n ) TABLESPACE pg_default",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        496
      ],
      "id": "fe97e6c9-98a7-4759-bb02-c453a1d19121",
      "name": "Criar Tabela Advogados",
      "credentials": {
        "postgres": {
          "id": "Ohx6rJRyzB5IJKNX",
          "name": "Postgres sulicorpar"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "鈻団枃鈻団枙鈻曗枃鈻曗枙鈻団枙鈻曗枃鈻団枃鈻曗枙鈻団枃鈻団枙鈻曗枃鈻団枙鈻曗枙鈻曗枃鈻団枙鈻曗枃鈻団枃鈻曗枙鈻団枙鈻曗枃鈻曗枙鈻団枃鈻曗枙鈻曗枃鈻団枃鈻曗枙鈻団枃鈻曗枙鈻団枃鈻団枙鈻曗枙鈻団枃鈻曗枙鈻曗枃鈻団枃\n鈻団枙鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻団枙鈻曗枙鈻曗枃鈻曗枙鈻曗枙鈻団枙鈻曗枃鈻曗枙鈻団枙鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻団枙鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻団枙鈻曗枙鈻曗枃鈻曗枙鈻団枙鈻団枙鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻団枙鈻曗枙\n鈻団枃鈻団枙鈻曗枃鈻曗枙鈻団枙鈻曗枃鈻団枙鈻曗枃鈻曗枙鈻曗枙鈻団枃鈻団枃鈻曗枙鈻団枃鈻団枃鈻曗枃鈻曗枙鈻団枙鈻団枙鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻団枙鈻団枃鈻曗枃鈻団枃鈻団枙鈻団枙鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻曗枃鈻団枙\n鈻団枙鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻曗枙鈻曗枃鈻曗枃鈻曗枙鈻曗枙鈻団枙鈻曗枃鈻曗枙鈻団枙鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻曗枃鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻団枙鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻団枙鈻曗枃鈻曗枃鈻曗枙鈻団枙鈻曗枙鈻曗枃\n鈻団枃鈻団枙鈻曗枙鈻団枃鈻曗枙鈻団枃鈻団枙鈻曗枙鈻団枃鈻団枙鈻団枙鈻曗枃鈻曗枙鈻団枙鈻曗枃鈻曗枃鈻団枃鈻曗枙鈻曗枙鈻団枙鈻曗枙鈻団枃鈻曗枙鈻曗枃鈻団枙鈻曗枃鈻曗枙鈻団枙鈻団枃鈻団枙鈻曗枙鈻団枃鈻曗枙鈻団枃鈻団枙\n鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙鈻曗枙",
        "height": 136,
        "width": 1012,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -96
      ],
      "id": "0c712564-c054-49b0-9fc5-b8675e0d3239",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UQq4AWBXE4YfcEmU",
          "mode": "list",
          "cachedResultUrl": "/workflow/UQq4AWBXE4YfcEmU",
          "cachedResultName": "buscaAdvogados"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        368,
        208
      ],
      "id": "65279cd6-4e65-417a-bd75-f088f74d2bae",
      "name": "Call 'buscaAdvogados'"
    }
  ],
  "pinData": {},
  "connections": {
    "Inicio": {
      "main": [
        []
      ]
    },
    "Busca Advogados": {
      "main": [
        [
          {
            "node": "Normaliza Retorno em JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'buscaAdvogados'": {
      "main": [
        [
          {
            "node": "Busca Advogados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a367cf3-3bc8-4518-a747-ec42f2657cf4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "078c5e58209b0e064da2b48eb1104acbbb559b9ca0c3510746cbc05aca35c13a"
  },
  "id": "UQq4AWBXE4YfcEmU",
  "tags": []
}