R-RECURSOS/99-AUTOMACOES-PRONTAS/workflows-n8n/gestaoAgendasAdvocacia.json
{
  "name": "gestaoAgendasAdvocacia",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "dateSlots"
            },
            {
              "name": "iCalUID"
            },
            {
              "name": "email"
            },
            {
              "name": "dataInicio"
            },
            {
              "name": "duracao"
            },
            {
              "name": "observacao"
            },
            {
              "name": "local"
            },
            {
              "name": "function"
            },
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "id_do_evento"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2096,
        1888
      ],
      "id": "1ddebd16-52d4-4970-a23c-8349e7713710",
      "name": "Start"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        864,
        576
      ],
      "id": "bc68579b-8df0-482e-b31e-669dca6bdada",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1584,
        2848
      ],
      "id": "bb5fcfb0-d29d-499d-80b1-eddaf85c822f",
      "name": "LoopDelete"
    },
    {
      "parameters": {
        "content": "## Busca EVENTOS do usuário\n",
        "height": 620,
        "width": 2060,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        2224
      ],
      "id": "52e5e01d-ed2d-44b1-9b9c-13cbeab5ba7b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Cria um EVENTOS do usuário\n",
        "height": 620,
        "width": 2760,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1216,
        432
      ],
      "id": "2be3bdd0-8b62-444f-9ae4-a3c7752213a3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d7c5786-28c2-486c-b898-107d12505c2d",
              "name": "msg",
              "value": "=Evento atualizado !",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        1216
      ],
      "id": "9532cb59-bb56-4aa9-9753-db46d7d10583",
      "name": "SetMessage4",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d7c5786-28c2-486c-b898-107d12505c2d",
              "name": "msg",
              "value": "=Não consegui atualizar o evento : {{ $('Variáveis do Fluxo').item.json.event_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        1408
      ],
      "id": "dbf27efa-5cef-4462-b734-32cbf9988661",
      "name": "SetMessage5",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Apaga TODOS EVENTOS do usuário\n",
        "height": 460,
        "width": 1600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        2768
      ],
      "id": "e5087b65-9f61-4181-b115-c3d84c6d0ae8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Update um EVENTOS do usuário\n",
        "height": 440,
        "width": 1540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1216,
        1120
      ],
      "id": "5fbcb75c-f250-4685-88c1-87d792c0aace",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Busca SLOTS por dia\n",
        "height": 620,
        "width": 2360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        2928
      ],
      "id": "c7a9f70e-c4ae-4d5d-ba4f-88adb9927701",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -944,
        2320
      ],
      "id": "b9fd8cf4-b847-4343-8ae2-798ada075024",
      "name": "Merge2"
    },
    {
      "parameters": {
        "content": "## Apaga EVENTOS do usuário\n",
        "height": 500,
        "width": 1660,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        1648
      ],
      "id": "908d3165-e8c0-4ede-8524-86893e1db6d2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst available = item.available;\nconst datetimeStr = $('Seta Data e Hora').first().json.dataInicio;\n\nreturn [{\n  json: {\n    datetime: '',\n    available: false,\n    error:'iCalUID não localizado' \n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        3296
      ],
      "id": "c5bddfaa-176c-4765-8184-085cd3f17a68",
      "name": "FormatErrorOut",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Envia Retorno",
        "height": 640,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2864,
        1392
      ],
      "id": "8d306945-18bc-4c3a-b049-218cb1d0953c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "height": 480,
        "width": 920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2224,
        1728
      ],
      "id": "551b8331-0884-4d44-8b04-a268b1e3aed5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "650bc62c-eabf-4619-8852-4a6849e08311",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "be224dfc-49b0-4e49-a9d8-2cb293d76e20",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "85a93da5-3a20-467f-b0da-5146fec366a5",
              "name": "dataInicio",
              "value": "={{ $json?.dataInicio?.toDateTime() || $now }}",
              "type": "string"
            },
            {
              "id": "ecf33f20-1393-4a6a-be7f-82467a9befc2",
              "name": "observacao",
              "value": "={{ $json.observacao }}",
              "type": "string"
            },
            {
              "id": "32b1c3a1-69c6-494b-a55a-27253db34f1d",
              "name": "local",
              "value": "={{ $json.local }}",
              "type": "string"
            },
            {
              "id": "19258712-b3cc-4a1b-8f0f-b342b160de56",
              "name": "duracao",
              "value": "={{ $json.duracao }}",
              "type": "string"
            },
            {
              "id": "b7f8de4f-d1be-48aa-bd9d-14daf548f290",
              "name": "function",
              "value": "={{ $json.function }}",
              "type": "string"
            },
            {
              "id": "bb7b1b1e-9282-4312-9a4e-51f1d51b2e0f",
              "name": "permiteConflito",
              "value": "false",
              "type": "string"
            },
            {
              "id": "17c517fd-7f11-4d7d-a99f-1b80ee37eef0",
              "name": "iCalUID",
              "value": "={{ $json.iCalUID.replaceAll('\\n','') }}",
              "type": "string"
            },
            {
              "id": "4d817757-7eed-47ee-a137-e0342cd32747",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "02136262-abd1-48c0-801f-b102f4d4b961",
              "name": "id_do_evento",
              "value": "={{ $json.id_do_evento }}",
              "type": "string"
            },
            {
              "id": "33e2e568-dae2-4240-a730-3996d9afa72e",
              "name": "dateSlots",
              "value": "={{ $json.dateSlots }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        1888
      ],
      "id": "b929bcfc-e418-48ae-bf12-9cb3feedd081",
      "name": "Variáveis do Fluxo"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Variáveis do Fluxo').item.json.iCalUID }}",
          "mode": "id"
        },
        "eventId": "={{ $('Variáveis do Fluxo').item.json.event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1072,
        1888
      ],
      "id": "af9261fc-7775-4b6b-95e3-4a1972ed712c",
      "name": "Remove Evento do Calendario",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "giVRx6iYHKvKumnW",
          "name": "Google Calendar Automacoes Prontas Sulicorpar"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Roteador').item.json.iCalUID }}",
          "mode": "id"
        },
        "eventId": "={{ $json.event_id }}",
        "updateFields": {
          "end": "={{ $('Variáveis do Fluxo').item.json.date_slots.toDateTime().plus(1,'hour') }}",
          "start": "={{ $('Variáveis do Fluxo').item.json.date_slots.toDateTime().plus(1,'hour') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1024,
        1280
      ],
      "id": "f7cb6675-3edc-4ecd-83de-f658f69552cc",
      "name": "Atualiza Evento no Calendário",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "giVRx6iYHKvKumnW",
          "name": "Google Calendar Automacoes Prontas Sulicorpar"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.function }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "105f7b9c-2fe1-4d88-bc0b-b50ce0a8ebda"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agenda_nova_reuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab0e12c3-bf1b-42b2-bd81-13ac1448bd1f",
                    "leftValue": "={{ $json.function }}",
                    "rightValue": "lista_reunioes_do_cliente",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lista_reunioes_do_cliente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e11a96ad-f187-4120-aa00-0d328ec236e9",
                    "leftValue": "={{ $json.function }}",
                    "rightValue": "lista_slots_tempo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lista_slots_tempo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50cf11ff-9ee8-4027-bc48-3b9a9393fce6",
                    "leftValue": "={{ $json.function }}",
                    "rightValue": "exclui_reuniao_especifica",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "exclui_reuniao_especifica"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6800d520-eda8-4095-a992-63550a9d53cd",
                    "leftValue": "={{ $json.function }}",
                    "rightValue": "exclui_reuniao_com_cliente",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "exclui_reuniao_com_cliente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e490094-7829-4f79-940f-b7fd928676c9",
                    "leftValue": "={{ $json.function }}",
                    "rightValue": "atualiza_data_da_reuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atualiza_data_da_reuniao"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1520,
        1824
      ],
      "id": "99e92bbf-06d2-403c-8843-70ee599a60b8",
      "name": "Roteador"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "advogados",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -640,
        2320
      ],
      "id": "0e9a787e-41b2-40be-98b1-af10bfd96c5c",
      "name": "Busca Advogados Ativos",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "oLU8ldbYN6ruvw56",
          "name": "Supabase account - Sulicorpar"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -320,
        2320
      ],
      "id": "5b30f1b1-a5dc-47bf-b39e-fff63d09a3d3",
      "name": "Loop nos Advogados",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.iCalUID }}",
          "mode": "id"
        },
        "limit": 5,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {
          "query": "={{ $('Variáveis do Fluxo').item.json.telefone || $('Variáveis do Fluxo').item.json.nome }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        144,
        2528
      ],
      "id": "4182f49c-ff12-436f-aeeb-706c7de4f6c2",
      "name": "Lista Agendas",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "giVRx6iYHKvKumnW",
          "name": "Google Calendar Automacoes Prontas Sulicorpar"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        2560
      ],
      "id": "8a845d7c-9621-45a4-b52d-f5edc8fdae29",
      "name": "Espera 1 segundo",
      "webhookId": "9f854806-407c-4291-8cda-49eda19fd86c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Variáveis do Fluxo').item.json.function }}",
                    "rightValue": "lista_reunioes_do_cliente",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "335635fa-b958-42f3-86c5-76fbfd33ff58"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "39a4a6e7-d32f-4315-a41b-1f241b6da43f",
                    "leftValue": "={{ $('Variáveis do Fluxo').item.json.function }}",
                    "rightValue": "exclui_reuniao_com_cliente",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        288,
        2320
      ],
      "id": "d45558de-a3a6-4224-8691-03b266ea30e7",
      "name": "Seleciona Operacao",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a9a5ce4-9049-4944-9743-9fe9d976e1cb",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        608,
        2336
      ],
      "id": "69552ee1-36a8-486d-8e58-8c3e93157afa",
      "name": "Filtra",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Filtra').item.json.isEmpty() }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "44171f5d-827d-4b58-8ead-a0b13efb1a2c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3257d663-6824-4f74-b3ce-65d284693899",
                    "leftValue": "={{ $('Filtra').item.json.isEmpty() }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1040,
        2336
      ],
      "id": "d322bd11-3dac-4244-b286-d141c5fb2921",
      "name": "Roteador1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d7c5786-28c2-486c-b898-107d12505c2d",
              "name": "msg",
              "value": "=Não encontrei evento para cancelar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        2368
      ],
      "id": "3e86c52b-a368-4e6e-bf33-3fbba2fb2d9a",
      "name": "Seta Mensagem de evento não encontrado",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d7c5786-28c2-486c-b898-107d12505c2d",
              "name": "msg",
              "value": "Processo concluído",
              "type": "string"
            },
            {
              "id": "5df18b31-90b2-4297-b89f-c1a756eeb4a5",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        2848
      ],
      "id": "3ae57346-a265-4999-a8db-871a5b6f094c",
      "name": "Seta Mensagem Retorno",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2432,
        3008
      ],
      "id": "c3b65c4d-eca7-4cd9-badc-7d0594a0485d",
      "name": "Espera 1 segundo1",
      "webhookId": "cd9fbd8d-9491-426b-8954-5a121e67d519"
    },
    {
      "parameters": {
        "jsCode": "// Definir horário de início e fim\nconst startHour = 8; // 08:00\nconst endHour = 18;  // 18:00\n// Definir horário do intervalo de almoço\nconst lunchStartHour = 12; // 12:00\nconst lunchEndHour = 14;   // 14:00\nconst timeSlots = [];\nconst iCalUID = $('Start').first().json.iCalUID;\nconst dateSlot = $('Start').first().json.dateSlots; // Recebendo a data do slot\n// Obter a data e hora atuais\nconst now = new Date();\nconst currentDate = now.toISOString().split('T')[0]; // Formato YYYY-MM-DD\nconst currentHour = now.getHours();\nconst currentMinute = now.getMinutes();\n// Verificar se a data do slot é a data atual\nconst isToday = dateSlot === currentDate;\n// Gerar intervalos de 1 hora, excluindo o intervalo de almoço\nfor (let hour = startHour; hour < endHour; hour++) {\n  // Pular os horários de almoço\n  if (hour >= lunchStartHour && hour < lunchEndHour) {\n    continue; // Pula este horário e vai para o próximo\n  }\n  \n  // Se não for hoje, incluir todos os horários (exceto almoço)\n  // Se for hoje, incluir apenas horários futuros (exceto almoço)\n  if (!isToday || hour > currentHour || (hour === currentHour && currentMinute === 0)) {\n    const startTime = `${hour.toString().padStart(2, '0')}:00`;\n    const endTime = `${(hour + 1).toString().padStart(2, '0')}:00`;\n    \n    timeSlots.push({\n      start: startTime,\n      end: endTime,\n      date: dateSlot,\n      iCalUID: iCalUID\n    });\n  }\n}\n// Retornar os dados no formato esperado pelo n8n\nreturn timeSlots.map(slot => ({ json: slot }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        3104
      ],
      "id": "32f29c63-e243-454f-9d89-3208cd3ffc3b",
      "name": "Ajusta Tempo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Ajuste os horários",
        "height": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        2976
      ],
      "id": "a2a617a3-a98b-489c-b174-9d334a0d0c6d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "",
        "height": 3680,
        "width": 6100,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2320,
        80
      ],
      "id": "3c9ddbc0-f68f-45be-bdca-00aab6e787a5",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "▕▇▇▇▕▇▇▇▇▕▕▇▇▇▕▇▇▇▇▇▕▕▇▇▕▕▕▇▇▕▕▕▇▇▕▇▇▕▇▕▕▇▕▇▕▕▕▕▇▇▇▇▇▕▇▕▕▇▇▕▕▕▇▇▇▕▇▇▇▇▕▇▕▕▇▕▇▇▇▕▕▕▇▇▕▕▕▇▇▇\n▇▕▕▕▕▇▕▕▕▕▇▕▕▕▕▕▕▇▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▕▕▇▕▕▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▕▕▇▇▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▕\n▇▕▇▇▕▇▇▇▕▕▕▇▇▕▕▕▕▇▕▕▕▇▇▇▇▕▇▕▕▇▕▕▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▕▕▇▕▕▕▇▕▇▇▇▇▕▇▕▇▇▕▇▇▇▕▕▇▕▇▇▕▇▕▕▇▕▇▇▇▇▕▕▇▇▕\n▇▕▕▇▕▇▕▕▕▕▕▕▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▕▇▕▇▕▕▇▕▇▕▕▕▕▕▕▇▕▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▕▕▕▇\n▕▇▇▕▕▇▇▇▇▕▇▇▇▕▕▕▕▇▕▕▕▇▕▕▇▕▕▇▇▕▕▕▇▕▕▕▇▕▕▇▇▕▕▇▇▇▇▕▕▕▇▕▕▕▇▕▇▕▕▇▕▕▇▇▕▕▇▇▇▇▕▇▕▕▇▕▇▇▇▕▕▇▕▕▇▕▇▇▇▕\n▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕",
        "width": 1288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "627222bb-e3c1-4917-894b-e597c9d23059",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -736,
        3104
      ],
      "id": "75f00c52-e38e-4716-ac35-d96bd86c1897",
      "name": "Loop",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d7c5786-28c2-486c-b898-107d12505c2d",
              "name": "msg",
              "value": "=Os horários disponíveis para o dia: {{ $('Start').first().json.dateSlots }}\nsão: \n{{ $('Loop').all().map(item => item.json.toJsonString()) }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        3008
      ],
      "id": "fd1a78f6-6696-4951-bb8b-8a122080730f",
      "name": "Seta Mensagem",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca2bd8ea-2267-47ba-bb16-0ee7a71a50d9",
              "name": "dataInicio",
              "value": "={{`${$('Start').first().json.dateSlots}T${$json.start}:00`\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        3264
      ],
      "id": "a69e5728-8002-4517-9a96-2b5d16f3e176",
      "name": "Seta Data e Hora"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Loop').item.json.iCalUID }}",
          "mode": "id"
        },
        "timeMin": "={{ $json.dataInicio.toDateTime().toLocal() }}",
        "timeMax": "={{ $json.dataInicio.toDateTime().plus(1,'hour') }}",
        "options": {
          "outputFormat": "availability"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        128,
        3264
      ],
      "id": "bfc751af-5ea3-497f-9200-0c4f159fca5c",
      "name": "Verifica Disponibilidade de Agenda",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "giVRx6iYHKvKumnW",
          "name": "Google Calendar Automacoes Prontas Sulicorpar"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        3280
      ],
      "id": "102df98c-e455-45f7-8b10-db3f7e54ae4b",
      "name": "Espera meio segundo",
      "webhookId": "1f372753-6c98-4e19-9f40-d6cdd0faf5e0"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst available = item.available;\nconst datetimeStr = $('Seta Data e Hora').first().json.dataInicio;\n\nreturn [{\n  json: {\n    datetime: datetimeStr,\n    available: available\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        3088
      ],
      "id": "a5a6a7d5-3c66-4496-8d8b-6b73a708f100",
      "name": "Formata Saida",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.organizer.email }}",
          "mode": "id"
        },
        "eventId": "={{$json.id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1952,
        2944
      ],
      "id": "d5d466f4-4dcc-48ab-9b19-46435b8e44b3",
      "name": "Deleta Eventos Marcados",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "giVRx6iYHKvKumnW",
          "name": "Google Calendar Automacoes Prontas Sulicorpar"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d7c5786-28c2-486c-b898-107d12505c2d",
              "name": "msg",
              "value": "Evento não localizado",
              "type": "string"
            },
            {
              "id": "5df18b31-90b2-4297-b89f-c1a756eeb4a5",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        1936
      ],
      "id": "9adcbfeb-609d-4888-900e-bfe2320ec80e",
      "name": "Seta Mensagem de Evento não encontrado",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d7c5786-28c2-486c-b898-107d12505c2d",
              "name": "msg",
              "value": "Evento cancelado com sucesso",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        1728
      ],
      "id": "9ce07069-3bf3-4100-83ed-b2a2f3728bfe",
      "name": "Seta Mensagem de Evento Cancelado",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2976,
        1520
      ],
      "id": "05be8dc9-7eb1-4d12-bc04-add95ac4c26b",
      "name": "Junta Retorno",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return { \n'response':JSON.stringify($input.all().map(x =>x.json))\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        1664
      ],
      "id": "b73fa4da-9d97-4805-9b3e-986827f26e1e",
      "name": "Seta Mensagem de Retorno"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Start').item.json.iCalUID }}",
          "mode": "id"
        },
        "timeMin": "={{ $json.dataInicio.toDateTime() }}",
        "timeMax": "={{ $json.dataInicio.toDateTime().plus(1,'hour') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1056,
        560
      ],
      "id": "17bfea09-77fc-4b2c-ac0e-4fdbf6ef882a",
      "name": "Avalia Disponibilidade de Agenda",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "giVRx6iYHKvKumnW",
          "name": "Google Calendar Automacoes Prontas Sulicorpar"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "17b233b9-b5d5-4950-9b2d-e02f0dbdc5bf",
              "leftValue": "={{ $json.available }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        512
      ],
      "id": "2649effd-c28d-44cd-baca-11615e689173",
      "name": "Se disponível"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "17b233b9-b5d5-4950-9b2d-e02f0dbdc5bf",
              "leftValue": "={{ $('Variáveis do Fluxo').item.json.allowConflict }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        720
      ],
      "id": "9c8ef717-e757-4489-acf7-1335d77114b7",
      "name": "Verifica se Esta Liberado Conflitar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d7c5786-28c2-486c-b898-107d12505c2d",
              "name": "error",
              "value": "=Erro ao verificar disponbilidade. Erro: {{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        848
      ],
      "id": "12406a17-bdbe-4087-8c3f-1891c162d942",
      "name": "Seta Mensagem de Erro"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $('Variáveis do Fluxo').item.json.iCalUID }}",
          "mode": "id"
        },
        "start": "={{ $('Variáveis do Fluxo').item.json.dataInicio }}",
        "end": "={{ $('Variáveis do Fluxo').item.json.dataInicio.toDateTime().plus(1,'hour') }}",
        "additionalFields": {
          "description": "=Cliente : {{ $('Variáveis do Fluxo').item.json.nome }}\nEmail: {{ $('Variáveis do Fluxo').item.json.email }}\nPhone: {{ $('Variáveis do Fluxo').item.json.telefone }}\nObs:\n{{ $('Variáveis do Fluxo').item.json.observacao }}",
          "location": "={{ $('Variáveis do Fluxo').item.json.local }}",
          "summary": "=Cliente: {{ $('Variáveis do Fluxo').item.json.nome }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        256,
        560
      ],
      "id": "cd3435a9-a0a0-4f83-9275-1a34c402f6d7",
      "name": "Cria Agendamento",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "giVRx6iYHKvKumnW",
          "name": "Google Calendar Automacoes Prontas Sulicorpar"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d7c5786-28c2-486c-b898-107d12505c2d",
              "name": "error",
              "value": "O horário solicitado não está disponível",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        832
      ],
      "id": "e99ec137-4927-4948-9b0f-be7eb6429405",
      "name": "Seta Mensagem de Horario Indisponivel"
    },
    {
      "parameters": {
        "jsCode": "return { \n'response':JSON.stringify($input.all().map(x =>x.json))\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        592
      ],
      "id": "604b76c4-9fac-4ed5-ad97-e2bd4735a051",
      "name": "Seta Retorno"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "dateSlots": "2025-05-20",
          "iCalUID": "5c4b8dbec6720c770490b2e3f2109bc669ddebd516109cb7f28cea3bd256124b@group.calendar.google.com",
          "email": "r.nevesbraga@gmail.com",
          "dataInicio": "2025-05-16T00:00:00",
          "duracao": null,
          "observacao": "",
          "local": "",
          "function": "delete_all",
          "telefone": "5511982561489",
          "nome": "Ric Neves",
          "id_do_evento": ""
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Variáveis do Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Seta Retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopDelete": {
      "main": [
        [
          {
            "node": "Seta Mensagem Retorno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deleta Eventos Marcados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetMessage4": {
      "main": [
        [
          {
            "node": "Junta Retorno",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "SetMessage5": {
      "main": [
        [
          {
            "node": "Junta Retorno",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Busca Advogados Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatErrorOut": {
      "main": [
        [
          {
            "node": "Espera meio segundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variáveis do Fluxo": {
      "main": [
        [
          {
            "node": "Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Evento do Calendario": {
      "main": [
        [
          {
            "node": "Seta Mensagem de Evento Cancelado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seta Mensagem de Evento não encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Evento no Calendário": {
      "main": [
        [
          {
            "node": "SetMessage4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SetMessage5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador": {
      "main": [
        [
          {
            "node": "Avalia Disponibilidade de Agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Ajusta Tempo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Evento do Calendario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza Evento no Calendário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Advogados Ativos": {
      "main": [
        [
          {
            "node": "Loop nos Advogados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop nos Advogados": {
      "main": [
        [
          {
            "node": "Seleciona Operacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lista Agendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista Agendas": {
      "main": [
        [
          {
            "node": "Espera 1 segundo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera 1 segundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 1 segundo": {
      "main": [
        [
          {
            "node": "Loop nos Advogados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleciona Operacao": {
      "main": [
        [
          {
            "node": "Junta Retorno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra": {
      "main": [
        [
          {
            "node": "Roteador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador1": {
      "main": [
        [
          {
            "node": "LoopDelete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seta Mensagem de evento não encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Mensagem de evento não encontrado": {
      "main": [
        [
          {
            "node": "Junta Retorno",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Seta Mensagem Retorno": {
      "main": [
        [
          {
            "node": "Junta Retorno",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Espera 1 segundo1": {
      "main": [
        [
          {
            "node": "LoopDelete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajusta Tempo": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Seta Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seta Data e Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Mensagem": {
      "main": [
        [
          {
            "node": "Junta Retorno",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Seta Data e Hora": {
      "main": [
        [
          {
            "node": "Verifica Disponibilidade de Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Disponibilidade de Agenda": {
      "main": [
        [
          {
            "node": "Formata Saida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FormatErrorOut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera meio segundo": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Saida": {
      "main": [
        [
          {
            "node": "Espera meio segundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Eventos Marcados": {
      "main": [
        [
          {
            "node": "Espera 1 segundo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera 1 segundo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Mensagem de Evento não encontrado": {
      "main": [
        [
          {
            "node": "Junta Retorno",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Seta Mensagem de Evento Cancelado": {
      "main": [
        [
          {
            "node": "Junta Retorno",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Junta Retorno": {
      "main": [
        [
          {
            "node": "Seta Mensagem de Retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avalia Disponibilidade de Agenda": {
      "main": [
        [
          {
            "node": "Se disponível",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seta Mensagem de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se disponível": {
      "main": [
        [
          {
            "node": "Cria Agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica se Esta Liberado Conflitar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se Esta Liberado Conflitar": {
      "main": [
        [
          {
            "node": "Cria Agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seta Mensagem de Horario Indisponivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Mensagem de Erro": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Cria Agendamento": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Mensagem de Horario Indisponivel": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44c2008c-1c77-42e1-ac6a-2b4bdb542807",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "078c5e58209b0e064da2b48eb1104acbbb559b9ca0c3510746cbc05aca35c13a"
  },
  "id": "1Xm14UOsrqk6YkrW",
  "tags": [
    {
      "updatedAt": "2025-12-03T20:31:44.560Z",
      "createdAt": "2025-12-03T20:31:44.560Z",
      "id": "grahGeXFCasU3xAL",
      "name": "formacao-agentes-n8n"
    },
    {
      "updatedAt": "2025-12-27T15:26:02.375Z",
      "createdAt": "2025-12-27T15:26:02.375Z",
      "id": "iYYXMmYAEu8xwrlm",
      "name": "supabase"
    },
    {
      "updatedAt": "2025-12-27T15:26:02.376Z",
      "createdAt": "2025-12-27T15:26:02.376Z",
      "id": "vKEUvJTuV7oHapp4",
      "name": "agendamento-mcp"
    },
    {
      "updatedAt": "2025-12-27T15:26:02.378Z",
      "createdAt": "2025-12-27T15:26:02.378Z",
      "id": "hjAp6nhC7wlkrlLf",
      "name": "google-agenda"
    }
  ]
}