R-RECURSOS/99-AUTOMACOES-PRONTAS/workflows-n8n/gestaoCliente.json
{
  "name": "gestaoCliente",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1952,
        672
      ],
      "id": "0dad4684-c85d-416b-b9e5-30cf43844701",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $('Seta Dados').item.json.cep }}/json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        1040
      ],
      "id": "f0a0421a-c12e-4ff4-ab63-5886ad1e7bdb",
      "name": "ConsultaCep",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "function"
            },
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "email"
            },
            {
              "name": "numero"
            },
            {
              "name": "endereco"
            },
            {
              "name": "cep"
            },
            {
              "name": "cpf"
            },
            {
              "name": "lat"
            },
            {
              "name": "long"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1584,
        752
      ],
      "id": "d696e138-0896-4df7-9120-cd2bd06c3a19",
      "name": "Inicio"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Seta Dados').item.json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        752
      ],
      "id": "239b3b1a-afd2-412f-88fb-7fbde7774957",
      "name": "Busca Cliente",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "oLU8ldbYN6ruvw56",
          "name": "Supabase account - Sulicorpar"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1dbcca50-6942-4456-92b2-9175d0416950",
              "leftValue": "={{ $('Busca Cliente').last().json.isEmpty() }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        768
      ],
      "id": "8eb02669-c22a-44a1-b9b3-608f873f470f",
      "name": "Verifica se Encontrou Cliente"
    },
    {
      "parameters": {
        "jsCode": "// Loop through input items\nconst output = $input.all().map(item => {\n  // Objeto 1 e Objeto 2\n\n  const object1 = $(\"Busca Cliente\").first().json; // Primeiro objeto \n  const object2 = $(\"Seta Dados\").first().json // Segundo objeto\n  // Validar que os objetos existem\n  if (!object1 || !object2) {\n    throw new Error('Os campos \"object1\" e \"object2\" são obrigatórios nos dados de entrada.');\n  }\n\n  // Misturar os objetos, sobrepondo os valores do segundo objeto, caso não estejam em branco\n  const mergedObject = { ...object1 }; // Começa com os valores do objeto 1\n\n  for (const [key, value] of Object.entries(object2)) {\n    // Sobrescreve o valor apenas se não estiver vazio\n    if (value !== null && value !== undefined && value !== '') {\n      mergedObject[key] = value;\n    }\n  }\n\n  // Retornar o novo objeto combinado\n  return { json: { mergedObject } };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        784
      ],
      "id": "34911788-a57b-4cd3-8e23-b807061bf406",
      "name": "Junta Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d85ea53c-6018-4697-afc9-57f0c87f2750",
              "leftValue": "={{ $json.cep }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        1040
      ],
      "id": "562a0905-86bf-472b-aeb8-0acebf8e34e6",
      "name": "Valida se Encontrou"
    },
    {
      "parameters": {
        "jsCode": "// Loop through input items\nconst output = $input.all().map(item => {\n  // Objeto 1 e Objeto 2\n\n  const object1 = $(\"Busca Cliente\").first().json; // Primeiro objeto \n  const object2 = $(\"ConsultaCep\").first().json // Segundo objeto\n  // Validar que os objetos existem\n  if (!object1 || !object2) {\n    throw new Error('Os campos \"object1\" e \"object2\" são obrigatórios nos dados de entrada.');\n  }\n\n  // Misturar os objetos, sobrepondo os valores do segundo objeto, caso não estejam em branco\n  const mergedObject = { ...object1 }; // Começa com os valores do objeto 1\n\n  for (const [key, value] of Object.entries(object2)) {\n    // Sobrescreve o valor apenas se não estiver vazio\n    if (value !== null && value !== undefined && value !== '') {\n      mergedObject[key] = value;\n    }\n  }\n\n  // Retornar o novo objeto combinado\n  return { json: { mergedObject } };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1040
      ],
      "id": "03163a9c-da15-46bb-8291-54d001768a3f",
      "name": "Junta Dados1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4373703-63d9-433c-baff-3911c4ee98ba",
              "name": "message",
              "value": "CEP não localizado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        1280
      ],
      "id": "e497cb7f-e6c1-41ff-ab67-1cc0fdf2eeb7",
      "name": "Avisa que o Cep não foi localizado"
    },
    {
      "parameters": {
        "jsCode": "return { \n'response': $input.last().json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1280
      ],
      "id": "19302908-6e59-48da-a18a-004547854cf5",
      "name": "Seta Retorno do Fluxo"
    },
    {
      "parameters": {
        "content": "## Tatamento de Entrada do Cliente no Fluxo",
        "height": 300,
        "width": 1060
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1664,
        640
      ],
      "id": "0655b4ab-db74-4272-aa48-1508eb5fae7c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Valida a operação que será feira na gestão do cliente",
        "height": 1320,
        "width": 2260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        176
      ],
      "id": "ccdd03c2-6dbe-4177-a1d0-83da4b612193",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        160,
        480
      ],
      "id": "e8aee29d-e6f4-45d7-b261-0022dbeab917",
      "name": "Merge2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a011e5f-4fa4-4788-a027-4e8a5e3ec3ef",
              "leftValue": "={{ $('Busca Cliente')?.last()?.json?.id}}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        336
      ],
      "id": "5f921d55-670f-440d-a1e2-b19357d90d67",
      "name": "Verifica se existe"
    },
    {
      "parameters": {
        "tableId": "clientes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Seta Dados para gravar').item.json.telefone }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Seta Dados para gravar').item.json.nome }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Seta Dados para gravar').item.json.email }}"
            },
            {
              "fieldId": "app_name",
              "fieldValue": "=sdr-advocacia"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        560
      ],
      "id": "7f4ecf77-324f-4750-a70b-408daf08ce57",
      "name": "Criar Cliente",
      "credentials": {
        "supabaseApi": {
          "id": "oLU8ldbYN6ruvw56",
          "name": "Supabase account - Sulicorpar"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.mergedObject.telefone }}"
            },
            {
              "keyName": "app_name",
              "condition": "eq",
              "keyValue": "sdr-advocacia"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.mergedObject.cliente_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.mergedObject.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        784
      ],
      "id": "e9c7026d-7569-4dd5-aec8-de98e4f2ec1d",
      "name": "Atualiza Cliente",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "oLU8ldbYN6ruvw56",
          "name": "Supabase account - Sulicorpar"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.mergedObject.telefone }}"
            },
            {
              "keyName": "app_name"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cep",
              "fieldValue": "={{ $json.mergedObject.cep }}"
            },
            {
              "fieldId": "uf",
              "fieldValue": "={{ $json.mergedObject.uf }}"
            },
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $json.mergedObject.cidade }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $json.mergedObject.bairro }}"
            },
            {
              "fieldId": "endereco",
              "fieldValue": "={{ $json.mergedObject.endereco }}"
            },
            {
              "fieldId": "complemento",
              "fieldValue": "={{ $json.mergedObject.complemento }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $json.mergedObject.numero }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.mergedObject.email }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.mergedObject.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        1040
      ],
      "id": "bc18031e-37da-450c-a84c-962cd39e520b",
      "name": "Atualiza o Cliente",
      "credentials": {
        "supabaseApi": {
          "id": "oLU8ldbYN6ruvw56",
          "name": "Supabase account - Sulicorpar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { \n'response': $input.last().json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        688
      ],
      "id": "acff83e5-e2ff-49cb-9d2d-f4e0dd4b7a8c",
      "name": "Retorna o Cliente"
    },
    {
      "parameters": {
        "content": "## Retorna o Json com cliente ou com mensagem",
        "height": 340,
        "width": 600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        560
      ],
      "id": "112d56d2-2c3b-4c3b-9483-787b085c0bac",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 1560,
        "width": 4360,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1696,
        80
      ],
      "id": "3a8529a2-ba8a-46e7-91e0-344ea3591218",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Gestão do banco de dados",
        "height": 360,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        192
      ],
      "id": "28c064ea-0960-4025-ac15-4ef4d68803db",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "▕▇▇▇▕▇▇▇▇▕▕▇▇▇▕▇▇▇▇▇▕▕▇▇▕▕▕▇▇▕▕▕▇▇▇▕▕▇▇▇▇▕▕▕▇▇▇▕▇▕▕▕▕▇▕▇▇▇▇▕▇▕▕▇▕▇▇▇▇▇▕▇▇▇▇▕▕▇▇▇\n▇▕▕▕▕▇▕▕▕▕▇▕▕▕▕▕▕▇▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▕▕▕▇▕▕▕▕▇▕▇▕▕▕▕▇▇▕▇▕▕▕▇▕▕▕▇▕▕▕▕▇▕▕▕\n▇▕▇▇▕▇▇▇▕▕▕▇▇▕▕▕▕▇▕▕▕▇▇▇▇▕▇▕▕▇▕▕▇▕▕▇▕▇▇▇▕▕▕▇▕▕▕▕▇▕▕▕▕▇▕▇▇▇▕▕▇▕▇▇▕▕▕▇▕▕▕▇▇▇▕▕▕▇▇▕\n▇▕▕▇▕▇▕▕▕▕▕▕▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▕▕▕▇▕▕▕▕▇▕▇▕▕▕▕▇▕▕▇▕▕▕▇▕▕▕▇▕▕▕▕▕▕▕▇\n▕▇▇▕▕▇▇▇▇▕▇▇▇▕▕▕▕▇▕▕▕▇▕▕▇▕▕▇▇▕▕▕▇▇▇▕▕▇▇▇▇▕▕▕▇▇▇▕▇▇▇▇▕▇▕▇▇▇▇▕▇▕▕▇▕▕▕▇▕▕▕▇▇▇▇▕▇▇▇▕\n▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕",
        "height": 140,
        "width": 1168,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b9a092db-1c3f-4f36-9773-0d57d682c043",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "332b1821-9580-4cfd-a520-1f8189e9d764",
              "name": "function",
              "value": "={{ $json.function || 'buscar_ou_Criar' }}",
              "type": "string"
            },
            {
              "id": "2e31c66f-31b8-4800-9154-e5365bcbfdec",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "a7de30b6-1398-4812-a589-68eb0aa9d604",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "bed1554c-d83b-4a11-b9aa-e59e2a63cbb9",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "7437d6f3-54ea-4a89-ab95-8a12c3510870",
              "name": "cpf",
              "value": "={{ $json.cpf || \"\"}}",
              "type": "string"
            },
            {
              "id": "495064cf-b146-48e3-9bc0-0d31601aa392",
              "name": "lat",
              "value": "={{ $json.lat }}",
              "type": "string"
            },
            {
              "id": "aa962888-9af0-4e93-a2bf-1e496200d62f",
              "name": "long",
              "value": "={{ $json.long }}",
              "type": "string"
            },
            {
              "id": "56f3c2e2-b3b2-439c-b421-a0b668e5ae2e",
              "name": "distancia",
              "value": "={{ $json.distance  || \"\"}}",
              "type": "string"
            },
            {
              "id": "7ff00a13-53cc-42d7-9ab4-2970d9a38463",
              "name": "nomeApp",
              "value": "sdr-advocacia",
              "type": "string"
            },
            {
              "id": "96f589b9-9d9f-4b8a-9e46-aed3a771f728",
              "name": "cep",
              "value": "={{ $json.cep.replaceAll('-','').replaceAll(' ','') }}",
              "type": "string"
            },
            {
              "id": "a3af05ec-7cd2-4541-aad9-fa35685911e5",
              "name": "numero",
              "value": "={{ $json.numero }}",
              "type": "string"
            },
            {
              "id": "ee446d4a-5bb8-463f-be75-63a6bca22fcc",
              "name": "endereco",
              "value": "={{ $json.complemento }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        752
      ],
      "id": "aa314dca-6140-419e-8980-f2e64d7cfa31",
      "name": "Seta Dados",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Seta Dados').item.json.function }}",
                    "rightValue": "buscar_ou_criar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2ba71c7e-932a-48d6-9e98-fe922c9122af"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Busca ou Cria"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61ad9fb3-58ca-48f7-9cf0-d52c39400446",
                    "leftValue": "={{ $('Seta Dados').item.json.function }}",
                    "rightValue": "atualizar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Atualiza"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40cbf966-b03f-4376-9af5-60733c67af73",
                    "leftValue": "={{ $('Seta Dados').item.json.function }}",
                    "rightValue": "buscar_cep",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BuscaCep"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        752
      ],
      "id": "b5f2806e-f083-4ba3-b325-0d53d63ab5f8",
      "name": "Roteador"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b472184-de47-4205-bccd-3c3710f98bb8",
              "name": "telefone",
              "value": "={{ $('Seta Dados').item.json.telefone }}",
              "type": "string"
            },
            {
              "id": "3c5d0b81-d4c7-4069-b14f-77842890c2d2",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "8fb1b4bf-f239-4408-9987-cdd3c1e0eb31",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "056bebdd-ceca-4204-b3da-a117bfabc25b",
              "name": "lat",
              "value": "={{ $json.lat }}",
              "type": "string"
            },
            {
              "id": "8cdb1beb-fe86-4a43-a5e2-a6d36436df40",
              "name": "long",
              "value": "={{ $json.long }}",
              "type": "string"
            },
            {
              "id": "3623929e-b762-40ff-80a1-ed6264c060cf",
              "name": "cpf",
              "value": "={{ $json.cpf }}",
              "type": "string"
            },
            {
              "id": "5301be13-a7c3-449a-8c85-979053abba79",
              "name": "cep",
              "value": "={{ $json.cep }}",
              "type": "string"
            },
            {
              "id": "ea553a16-c8f8-4072-8ee1-957e92b8d214",
              "name": "endereco",
              "value": "={{ $json.endereco }}",
              "type": "string"
            },
            {
              "id": "76c85c25-b8ef-46e4-b95a-17c00e92ff5e",
              "name": "numero",
              "value": "={{ $json.numero }}",
              "type": "string"
            },
            {
              "id": "70fb0c6e-52c7-432b-bdcc-635530835210",
              "name": "  cidade",
              "value": "={{ $json.cidade }}",
              "type": "string"
            },
            {
              "id": "f2be0ca7-9a4e-41d4-8db5-d48e0d40f742",
              "name": "uf",
              "value": "={{ $json.uf }}",
              "type": "string"
            },
            {
              "id": "a4b46205-b619-4b7b-a0ad-54b77b4d2f93",
              "name": "bairro",
              "value": "={{ $json.bairro }}",
              "type": "string"
            },
            {
              "id": "e3b1096f-2af3-46d6-92fe-578fa4f74340",
              "name": "complemento",
              "value": "={{ $json.complemento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        464
      ],
      "id": "b91704cb-8804-4c0a-a3ef-1fe87933f9d7",
      "name": "Seta Dados para gravar"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table public.clientes (\n  id bigint generated by default as identity not null,\n  created_at timestamp with time zone not null default now(),\n  telefone text null,\n  nome text null,\n  email text null,\n  cpf text null,\n  cep text null,\n  uf text null,\n  cidade text null,\n  bairro text null,\n  numero text null,\n  endereco text null,\n  complemento text null,\n  lat text null,\n  long text null,\n  ativo boolean null default false,\n  app_name text null default 'delivery'::text,\n  updated_at timestamp with time zone null default (now() AT TIME ZONE 'utc'::text),\n  constraint clientes_pkey primary key (id)\n) TABLESPACE pg_default;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1568,
        336
      ],
      "id": "b28657fe-8630-4e53-8e95-98551e677ff2",
      "name": "Criar Tabela Cliente",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XNJDZsfR6h4pCtDj",
          "mode": "list",
          "cachedResultUrl": "/workflow/XNJDZsfR6h4pCtDj",
          "cachedResultName": "gestaoCliente"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "function",
              "displayName": "function",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "endereco",
              "displayName": "endereco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "cep",
              "displayName": "cep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "cpf",
              "displayName": "cpf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "long",
              "displayName": "long",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1360,
        752
      ],
      "id": "bdefc413-b7c6-4341-9be7-b3ef38995c63",
      "name": "Call 'gestaoCliente'"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Retorna o Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaCep": {
      "main": [
        [
          {
            "node": "Valida se Encontrou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicio": {
      "main": [
        []
      ]
    },
    "Busca Cliente": {
      "main": [
        [
          {
            "node": "Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se Encontrou Cliente": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Junta Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junta Dados": {
      "main": [
        [
          {
            "node": "Atualiza Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida se Encontrou": {
      "main": [
        [
          {
            "node": "Junta Dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisa que o Cep não foi localizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junta Dados1": {
      "main": [
        [
          {
            "node": "Atualiza o Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisa que o Cep não foi localizado": {
      "main": [
        [
          {
            "node": "Seta Retorno do Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Seta Dados para gravar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se existe": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cliente": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Atualiza Cliente": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Atualiza o Cliente": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Seta Dados": {
      "main": [
        [
          {
            "node": "Busca Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica se Encontrou Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ConsultaCep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Dados para gravar": {
      "main": [
        [
          {
            "node": "Verifica se existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'gestaoCliente'": {
      "main": [
        [
          {
            "node": "Seta Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a71b556b-2b8b-489d-adc7-a249598809de",
  "meta": {
    "instanceId": "078c5e58209b0e064da2b48eb1104acbbb559b9ca0c3510746cbc05aca35c13a"
  },
  "id": "XNJDZsfR6h4pCtDj",
  "tags": [
    {
      "updatedAt": "2025-12-03T20:31:44.560Z",
      "createdAt": "2025-12-03T20:31:44.560Z",
      "id": "grahGeXFCasU3xAL",
      "name": "formacao-agentes-n8n"
    },
    {
      "updatedAt": "2025-12-27T15:26:02.375Z",
      "createdAt": "2025-12-27T15:26:02.375Z",
      "id": "iYYXMmYAEu8xwrlm",
      "name": "supabase"
    }
  ]
}